Use Pymysql to get Data from Mysql

In [8]:
import pymysql as mysql
#mysql.__veriosn__

import pymssql as mssql
#mssql.__veriosn__

import cx_Oracle as oracle
#oracle.__veriosn__

AttributeError: 'module' object has no attribute '__veriosn__'

In [1]:
import pymysql.cursors
import pandas as pd

# 连接MySQL数据库
connection = pymysql.connect(host='192.168.200.123', 
                             port=3306,
                             user='root',
                             password='DockerRoot@123',
                             db='ohs_redmine', 
                             charset='utf8mb4', 
                             cursorclass=pymysql.cursors.DictCursor)

# 通过cursor创建游标
cursor = connection.cursor()

# 创建sql 语句，并执行
sql = "SELECT * FROM `enabled_modules` limit 0,10"
cursor.execute(sql)

# 使用cursor读取
#results = cursor.fetchall()
#for row in results:
#    print row
    
#读取为pandas dataframe
df=pd.read_sql(sql,con=connection)  
print(df)

connection.commit()
cursor.close()
connection.close()

# 提交SQL
#connection.commit()

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-1-33368e2c1168>, line 27)

In [ ]:
import pymssql.cursors
import pandas as pd

# 连接MySQL数据库
connection = pymssql.connect(host='192.168.200.123', 
                             port=3306,
                             user='root',
                             password='DockerRoot@123',
                             db='ohs_redmine',)

# 通过cursor创建游标
cursor = connection.cursor()

# 创建sql 语句，并执行
sql = "SELECT * FROM `enabled_modules`"
cursor.execute(sql)

# 使用cursor读取
#results = cursor.fetchall()
#for row in results:
#    print row
    
#读取为pandas dataframe
df=pd.read_sql(sql,con=connection)  
print df

connection.commit()
cursor.close()
connection.close()

# 提交SQL
#connection.commit()

In [2]:
#!echo $LD_LIBRARY_PATH
!export LD_LIBRARY_PATH=/usr/lib/oracle/12.2/client64/lib:$LD_LIBRARY_PATH

In [3]:
import cx_Oracle
import pandas as pd
        
# 连接MySQL数据库
connection = cx_Oracle.connect(host='114.55.148.46/orclpdb', 
                             port=1521,
                             user='HR2015',
                             password='HR2012TES',
                             db='dbo.HR2015')

# 通过cursor创建游标
cursor = connection.cursor()

# 创建sql 语句，并执行
sql = "select * from customer_master limit 0,10"
cursor.execute(sql)

# 使用cursor读取
#results = cursor.fetchall()
#for row in results:
#    print row
    
#读取为pandas dataframe
df=pd.read_sql(sql,con=connection)  
print df

connection.commit()
cursor.close()
connection.close()

# 提交SQL
#connection.commit()

DatabaseError: DPI-1047: 64-bit Oracle Client library cannot be loaded: "libclntsh.so: cannot open shared object file: No such file or directory". See https://oracle.github.io/odpi/doc/installation.html#linux for help